<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="oretubeConnectionString" connectionString="Data Source=(local);Initial Catalog=oretube;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SqlServices" connectionString="Data Source=(local);Initial Catalog=aspnetdb;Integrated Security=SSPI;" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />

    <authentication mode="Forms">
      <forms loginUrl="login.aspx" name=".ASPXFORMSAUTH" timeout="43200" defaultUrl="froles.aspx" />
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>

    <roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".SEGURIDAD" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SqlServices" applicationName="Oretube" />
      </providers>
    </roleManager>


    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SqlServices" applicationName="Oretube" />
      </providers>
    </membership>

    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <identity impersonate="false" />
  </system.web>

  <location path="Contenido/Anonimo">
    <system.web>
      <authorization>
        <!-- Acceso a todos los usuarios-->
        <allow users="*" />
      </authorization>
    </system.web>
  </location>


  <location path="Contenido/Registrado">
    <system.web>
      <authorization>
        <!-- Se le concede permiso al rol 0 y se le deniega al resto-->
        <allow roles="0" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Contenido/Lector">
    <system.web>
      <authorization>
        <allow roles="1" />
        
      </authorization>
    </system.web>
  </location>

  <location path="Contenido/Editor">
    <system.web>
      <authorization>
        <allow roles="2" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="recaptchaPublicKey" value="6Le40n8aAAAAAM8b8n_Ew0_9l-aPfSmMkWC-2hOq" />
    <add key="recaptchaPrivateKey" value="6Le40n8aAAAAAPjKii_Fb2OxTywMOFS17nUUsEmo" />
    <add key="recaptchaApiVersion" value="2" />
  </appSettings>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
