body {
}

.main {
    display: flex;  
    justify-content: space-around;
    background-color: aliceblue;
    padding-top: 2em;

}

section {
    width: 65%;
}

article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

aside{
    display: flex;
    width: 20%
}

.video{
    width: 100%;
    
}
.imagen{
   width: 100%;

}

.infoVideo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 1.5em;
}
.titulo {
    font-size: 1.5em;
    font-weight: bold;
}

.videoInfo {
    display: flex;
    flex-flow: column;
}
.videoTitulo {
    font-size: 1.5em;
    display: flex;
    justify-content:space-between
}
.videoLikes {
    display: flex;
    justify-content: flex-end;

}
.videoMas {
    display: flex;
    flex-flow: column;

}