body {
}

.main {
    display: flex;  
    justify-content: space-around;
    background-color: aliceblue;
    padding-top: 2em;

}

section {
    width: 65%;
}

article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

aside{
    display: flex;
    width: 20%
}

.video{
    width: 100%;
    
}
.imagen{
   width: 100%;

}

.infoVideo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 1.5em;
}

.info1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}



.videoTitulo {
    font-size:3em;
    font-weight: bolder;
   
    margin-bottom: 0.3em;
}

.videoInfo {
    display: flex;
    flex-direction: column;
    
}
.videoTitulo {
    font-size: 1.5em;
    display: flex;
    justify-content:space-between
}
.videoLikes {
    display: flex;
    justify-content: flex-end;

}
.videoFecha {
  
    text-align: start;
    font-size: 1.2em;

}
.videoVisualizaciones {
   
    text-align: end;
    font-size: 1.2em;
   
}
.videoMas {
    display: flex;
    flex-flow: column;
   

}

.bigger{
    font-size: 1.5em;
}

.margen{
    margin-right:2em;
}